@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* ====================
	* CONFIGURACION *
==================== */
*,
*::after,
*::before {
	box-sizing: border-box;
}

/* ====================
	* VARIABLES *
==================== */
:root {
	--fuente: 'Open Sans', sans-serif;
	--fondo: #f2f2f2;
	--ancho-contenedor: 1200px;
}

/* ====================
	* ESTILOS GENERALES *
==================== */
body {
	background: var(--fondo);
	font-family: var(--fuente);
	font-size: 18px;
}

p {
	line-height: 27px;
}

img {
	vertical-align: top;
	width: 100%;
}

/* ====================
	* CONTENEDORES *
==================== */
.contenedor {
	max-width: 90%;
	width: var(--ancho-contenedor);
	margin: 20px auto;
	overflow: hidden;
}

.contenedor-ancho {
	width: 100%;
	padding: 0 40px;
	margin: 20px auto;
}

.container-carousel-highlight{
    width: 100%;
	height: 100%;
    background-color: inherit;
    display: flex;
    transition: 3s;
    position: relative;
    right: 0%;
	overflow: unset;
}

.container-blog{
	width: 100%;
	height: 100%;
    background-color: inherit;
	display: flex;
}

/* ====================
	* GRID *
==================== */
.grid {
	display: grid;
	gap: 20px;
	margin-bottom: 20px;
}

/* Tamaño Grande - Computadoras y TV */
.col-1 { grid-template-columns: repeat(1, 1fr); }
.col-2 { grid-template-columns: repeat(2, 1fr); }
.col-3 { grid-template-columns: repeat(3, 1fr); }
.col-4 { grid-template-columns: repeat(4, 1fr); }
.col-5 { grid-template-columns: repeat(5, 1fr); }
.col-6 { grid-template-columns: repeat(6, 1fr); }
.col-7 { grid-template-columns: repeat(7, 1fr); }
.col-8 { grid-template-columns: repeat(8, 1fr); }
.col-9 { grid-template-columns: repeat(9, 1fr); }
.col-10 { grid-template-columns: repeat(10, 1fr); }
.col-11 { grid-template-columns: repeat(11, 1fr); }
.col-12 { grid-template-columns: repeat(12, 1fr); }

.span-1 { grid-column: span 1; }
.span-2 { grid-column: span 2; }
.span-3 { grid-column: span 3; }
.span-4 { grid-column: span 4; }
.span-5 { grid-column: span 5; }
.span-6 { grid-column: span 6; }
.span-7 { grid-column: span 7; }
.span-8 { grid-column: span 8; }
.span-9 { grid-column: span 9; }
.span-10 { grid-column: span 10; }
.span-11 { grid-column: span 11; }
.span-12 { grid-column: span 12; }

/* Tamaño Mediano - Tablets */
@media screen and (max-width: 992px) {
	.med-col-1 { grid-template-columns: repeat(1, 1fr); }
	.med-col-2 { grid-template-columns: repeat(2, 1fr); }
	.med-col-3 { grid-template-columns: repeat(3, 1fr); }
	.med-col-4 { grid-template-columns: repeat(4, 1fr); }
	.med-col-5 { grid-template-columns: repeat(5, 1fr); }
	.med-col-6 { grid-template-columns: repeat(6, 1fr); }
	.med-col-7 { grid-template-columns: repeat(7, 1fr); }
	.med-col-8 { grid-template-columns: repeat(8, 1fr); }
	.med-col-9 { grid-template-columns: repeat(9, 1fr); }
	.med-col-10 { grid-template-columns: repeat(10, 1fr); }
	.med-col-11 { grid-template-columns: repeat(11, 1fr); }
	.med-col-12 { grid-template-columns: repeat(12, 1fr); }

	.med-span-1 { grid-column: span 1; }
	.med-span-2 { grid-column: span 2; }
	.med-span-3 { grid-column: span 3; }
	.med-span-4 { grid-column: span 4; }
	.med-span-5 { grid-column: span 5; }
	.med-span-6 { grid-column: span 6; }
	.med-span-7 { grid-column: span 7; }
	.med-span-8 { grid-column: span 8; }
	.med-span-9 { grid-column: span 9; }
	.med-span-10 { grid-column: span 10; }
	.med-span-11 { grid-column: span 11; }
	.med-span-12 { grid-column: span 12; }
}

/* Tamaño Pequeño - Celulares */
@media screen and (max-width: 576px) {
	.peq-col-1 { grid-template-columns: repeat(1, 1fr); }
	.peq-col-2 { grid-template-columns: repeat(2, 1fr); }
	.peq-col-3 { grid-template-columns: repeat(3, 1fr); }
	.peq-col-4 { grid-template-columns: repeat(4, 1fr); }
	.peq-col-5 { grid-template-columns: repeat(5, 1fr); }
	.peq-col-6 { grid-template-columns: repeat(6, 1fr); }
	.peq-col-7 { grid-template-columns: repeat(7, 1fr); }
	.peq-col-8 { grid-template-columns: repeat(8, 1fr); }
	.peq-col-9 { grid-template-columns: repeat(9, 1fr); }
	.peq-col-10 { grid-template-columns: repeat(10, 1fr); }
	.peq-col-11 { grid-template-columns: repeat(11, 1fr); }
	.peq-col-12 { grid-template-columns: repeat(12, 1fr); }
}


/* ====================
	* COMPONENTES *
==================== */
.card {
	padding: 40px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 30px rgba(221,221,211,0.3);
}

.card-highlight{
    height: 449px;
    max-width: 528px;
    min-width: 528px;
    border-radius: 32px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.card-highlight:first-child{
    background-color: khaki;
    margin-left: 0px;
}

.card-highlight h1{
    margin: 48px;
}

.card-highlight hr{
    margin-bottom: 16px;
    border: none;
    background-color: black;
    height: 2px;
}

.card-highlight .card-footer{
    margin: 0px 48px 48px 48px;
    width: calc(100% - 96px);
}

.card-highlight p{
    margin-top: 0px;
    margin-bottom: 0px;
}

/* .container-carousel-highlight-offset{
    position:relative; 
    left: 20%;
} */

.card-highlight:nth-child(2){
    background-color: rgb(140, 233, 240);
}

.card-highlight:nth-child(3){
    background-color: rgb(195, 140, 240);
}

.nav {
	background: rgba(67, 16 ,195);
	display: flex;
	flex-wrap: wrap;
}

/* Slider component*/
.slider{
	position: absolute;
	left: 10%;
	top: 30%;
	width: 80%;
	height: 200px;
	overflow: hidden;
}

.slider-inner{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 200%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 5px;
	pointer-events: none;
}

.slide-card{
	height: 100%;
	background-color: black;
	text-align: center;
	padding: 3rem;

}

.slider i{
	color: white;
	font-size: 3rem;
	pointer-events: auto;
	cursor: pointer;
}

.slider i:hover{
	color: violet;
}



.nav .contenedor {
	display: flex;
	flex-wrap: wrap;
	margin: 0px auto;
}

.nav a {
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 15px 25px;
	transition: .3s ease all;
	font-size: 18px;
}

.nav a.activo,
.nav a:hover {
	background: rgba(89,59,221);
}

/* ====================
	* FUENTES *
==================== */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

.display-1 {
	font-weight: 700;
	font-size: 64px;
}

.display-2 {
	font-weight: 700;
	font-size: 54px;
}

.display-3 {
	font-weight: 700;
	font-size: 44px;
}

/* ====================
	* FORMULARIOS *
==================== */
form * {
	font-family: var(--fuente);
}

form .input {
	padding: 10px 15px;
	border-radius: 3px;
	border: 1px solid #d6d6d6;
	transition: .3s ease all;
	width: 100%;
	margin-bottom: 20px;
}

form .input:focus {
	border: 1px solid #641ee7;
	outline: none;
}

.boton {
	background: #641ee7;
	border: none;
	cursor: pointer;
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 3px;
	text-align: center;
	line-height: 22px;
	transition: .3s ease all;
}

.boton:hover {
	background: #5114c2;
}

.boton.verde {
	background: #00a04a;
}

.boton.verde:hover {
	background: #00833d;
}

/* ====================
	* HELPERS *
==================== */
.no-margen { margin: 0 }
.no-margen-superior { margin-top: 0 }
.no-margen-inferior { margin-bottom: 0 }
.no-margen-izquierdo { margin-left: 0 }
.no-margen-derecho { margin-right: 0 }

.margen-inferior {margin-bottom: 20px;}
.margen-superior {margin-top: 20px;}

.texto-centrado {text-align: center;}
.texto-izquierda {text-align: left;}
.texto-derecha {text-align: right;}